.square {
  width: 4.375rem;
  flex: 1;
  height:6.25rem;
  border: 1px solid #ccc;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.board-row {
  display: flex;
}

.board {
  width: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0,1);
  overflow:hidden;
  display: inline-block;
  margin-bottom: 1rem;
}

.title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
}

.title0 {
  color: rgb(82, 39, 39);
}

.title1 {
  color: rgb(22, 122, 8);
}

.title2 {
  color: #663d3d;
}

.title3{
  font-size: 2.0rem;
}

.tool {
  color: rgb(6, 54, 82);
}

.status {
  background: rgb(253, 253, 227);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


.resetbtn {
 /* padding-top: 5rem; */
  background-color: rgb(82, 39, 39);
  color: rgb(255,255,255);
  border: none;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  display: block;
  width: 25%;
  margin: auto;
  font-size: 20px;
  transition: background-color 0.3s ease;

}

.resetbtn:hover {
  background-color: #663d3d;
}